<a href="https://colab.research.google.com/github/navyagona/python-practice/blob/main/06_06_python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/navyagona/python-practice

Cloning into 'python-practice'...
warning: You appear to have cloned an empty repository.

In [3]:
print("navya")

navya

# New Section

In [5]:
# Input and Output
name = input("Enter your name: ")
print("Hello, " + name + "!")

print("Navya", "Teja", "Divya", sep=", ")
print("my name is Navya.", end=" ")
print("persuing btech.")

Enter your name: Ramani
Hello, Ramani!
Navya, Teja, Divya
my name is Navya. persuing btech.

In [6]:

# Addition
a = 25
b = 2
print("Addition:", a + b)

# Subtraction
print("Subtraction:", a - b)

# Multiplication
print("Multiplication:", a * b)

# Division
print("Division:", a / b)

# Floor Division
print("Floor Division:", a // b)

# Modulus
print("Modulus:", a % b)

# Exponentiation
print("Exponentiation:", a ** b)



#COMPARISION OPERATORS
# Equal to
print("Equal to:", a == b)

# Not equal to
print("Not equal to:", a != b)

# Greater than
print("Greater than:", a > b)
# Less than
print("Less than:", a < b)

# Greater than or equal to
print("Greater than or equal to:", a >= b)

# Less than or equal to
print("Less than or equal to:", a <= b)

#LOGICAL OPERATORS

# Logical AND
print("Logical AND:", (a > 0) and (b > 0))

# Logical OR
print("Logical OR:", (a > 0) or (b < 0))

# Logical NOT
print("Logical NOT:", not (a > 0))

Addition: 27
Subtraction: 23
Multiplication: 50
Division: 12.5
Floor Division: 12
Modulus: 1
Exponentiation: 625
Equal to: False
Not equal to: True
Greater than: True
Less than: False
Greater than or equal to: True
Less than or equal to: False
Logical AND: True
Logical OR: True
Logical NOT: False

In [7]:


# Converting to Integer
float_num = 9.8
int_num = int(float_num)
print(f"Converted {float_num} to integer: {int_num}")

str_num = "123"
int_num = int(str_num)
print(f"Converted '{str_num}' to integer: {int_num}")

# Converting to Float
int_num = 10
float_num = float(int_num)
print(f"Converted {int_num} to float: {float_num}")

str_num = "3.14"
float_num = float(str_num)
print(f"Converted '{str_num}' to float: {float_num}")

# Converting to String
int_num = 100
str_num = str(int_num)
print(f"Converted {int_num} to string: '{str_num}'")

float_num = 10.5
str_num = str(float_num)
print(f"Converted {float_num} to string: '{str_num}'")

# Converting to List
str_val = "hello"
list_val = list(str_val)
print(f"Converted '{str_val}' to list: {list_val}")

# Converting to Tuple
list_val = [1, 2, 3]
tuple_val = tuple(list_val)
print(f"Converted {list_val} to tuple: {tuple_val}")

# Converting to Set
list_val = [1, 2, 2, 3]
set_val = set(list_val)
print(f"Converted {list_val} to set: {set_val}")

Converted 9.8 to integer: 9
Converted '123' to integer: 123
Converted 10 to float: 10.0
Converted '3.14' to float: 3.14
Converted 100 to string: '100'
Converted 10.5 to string: '10.5'
Converted 'hello' to list: ['h', 'e', 'l', 'l', 'o']
Converted [1, 2, 3] to tuple: (1, 2, 3)
Converted [1, 2, 2, 3] to set: {1, 2, 3}

In [10]:
#conditional statement
num = 5
if num > 5:
    print("Number is greater than 5")
elif num == 5:
    print("Number is equal to 5")
else:
    print("Number is less than 5")


#(looping statements)
# For
states = ["ap", "ts", "mp"]
for states in states:
    print(states)
print()

# While
count = 1
while count <= 10:
    print(count)
    count += 1
print()

# Loop with `break`
for number in range(1, 30):
    if number == 15:
        break
    print(number)
print()

# Loop with `continue'
for number in range(1, 15):
    if number == 6:
        continue
    print(number)
print()

Number is equal to 5
ap
ts
mp

1
2
3
4
5
6
7
8
9
10

1
2
3
4
5
6
7
8
9
10
11
12
13
14

1
2
3
4
5
7
8
9
10
11
12
13
14

In [12]:
# Special Functions

# len()
names = ["nisha", "Teja", "Navya","ayan"]
print("Length :", len(names))
print()

# id()
print("Unique ID ", id(names))
print()

# type()
print("Type of names list:", type(names))
print()

# range()
print("Using range() to print numbers from 0 to 15:")
for i in range(13):
    print(i)  # Output: 0 1 2 3 4

Length : 4

Unique ID  140058142847744

Type of names list: <class 'list'>

Using range() to print numbers from 0 to 15:
0
1
2
3
4
5
6
7
8
9
10
11
12