<a href="https://colab.research.google.com/github/navyagona/python-practice/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###TUPLE
A tuple is a collection of ordered and immutable elements, written with round brackets ().tuples allow duplicates.

In [2]:
cities = ("vizag", "banglore", "hyderabad")
print(cities)
x= ("navya", "teja", "charan", "ramani", "teja")
print(x)
#Tuple Length:
thistuple = tuple(("teja", "navya", "ramani"))
print(len(thistuple))

('vizag', 'banglore', 'hyderabad')
('navya', 'teja', 'charan', 'ramani', 'teja')
3

tuples also store different data types

In [4]:
example = ("teja", 48, 26, "navya")
print(example)

('teja', 48, 26, 'navya')

In [6]:
vehicles = tuple(("car", "bus", "bike"))
print("Tuple using constructor:", vehicles)
print("Second item in tuple:", vehicles[1])

vehicle1 = ("car", "bus", "bike", "truck", "motorcycle", "van", "scooter")
print("Items from index 2 to 4:", vehicle1[2:5])

vehicle2 = ("car", "bus", "bike", "truck", "motorcycle", "van", "scooter")
print("Items up to 'truck':", vehicle2[:4])

vehicle3 = ("car", "bus", "bike", "truck", "motorcycle", "van", "scooter")
print("Items from index -4 to -1:", vehicle3[-4:-1])

Tuple using constructor: ('car', 'bus', 'bike')
Second item in tuple: bus
Items from index 2 to 4: ('bike', 'truck', 'motorcycle')
Items up to 'truck': ('car', 'bus', 'bike', 'truck')
Items from index -4 to -1: ('truck', 'motorcycle', 'van')

####Indexed:
Tuples are collections of items that are accessible by their index. This means you can access individual elements of a tuple using their position in the tuple.
####Ordered:
The elements in a tuple maintain the order in which they are defined. When you iterate through a tuple, you'll encounter its elements in the same order as they were initially defined.
####Immutable:
Tuples are immutable, meaning once they are created, their contents cannot be changed. You cannot add, remove, or modify elements of a tuple after it has been created.
####Can contain duplicate items:
Tuples can contain duplicate items. Each item in a tuple is distinct based on its value, but there can be multiple items with the same value.

In [7]:
thistuple = ("car", "bus", "bike")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print("Updated tuple:", thistuple)

thistuple = ("car", "bus", "bike")
del thistuple

vehicles = ("car", "bike", "bus", "train", "plane")

(car, *others, plane) = vehicles
print("Car:", car)
print("Other vehicles:", others)
print("Plane:", plane)

languages = ("Python", "Java", "C++", "JavaScript")
for language in languages:
    print("Programming language:", language)

repeated_number = 5
repetitions = 3
repeated_tuple = tuple(range(repeated_number)) * repetitions
print("Tuple with repeated elements:", repeated_tuple)

colors = ("red", "green", "blue")
index = 0
while index < len(colors):
    print("Color:", colors[index])
    index += 1

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
joined_tuple = tuple1 + tuple2
print("Joined tuple:", joined_tuple)

animals = ("cat", "dog")
mytuple = animals * 2
print("Multiplied tuple:", mytuple)

Updated tuple: ('car', 'bus', 'bike', 'orange')
Car: car
Other vehicles: ['bike', 'bus', 'train']
Plane: plane
Programming language: Python
Programming language: Java
Programming language: C++
Programming language: JavaScript
Tuple with repeated elements: (0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)
Color: red
Color: green
Color: blue
Joined tuple: (1, 2, 3, 4, 5, 6)
Multiplied tuple: ('cat', 'dog', 'cat', 'dog')

####Slicing:
Slicing allows you to extract a portion of the tuple by specifying a range of indices.
####Indexing:
Indexing allows you to access individual elements of a tuple by their position.

In [9]:
# Slicing
numbers = (1, 2, 3, 4, 5)
subset = numbers[1:4]
print("Subset:", subset)

even_numbers = numbers[::2]
print("Even numbers:", even_numbers)

last_three = numbers[-3:]
print("Last three elements:", last_three)

#indexing
names = ("navya", "teja", "ramani")
second_name = names[1]
print("Second name:", second_name)

last_name = names[-1]
print("Last name:", last_name)


colors = ("red", "green", "blue", "yellow", "orange")
color_subset = colors[1:4]
print("Color subset:", color_subset)

second_to_last_color = colors[-2]
print("Second to last color:", second_to_last_color)

every_second_color = colors[::2]
print("Every second color:", every_second_color)

Subset: (2, 3, 4)
Even numbers: (1, 3, 5)
Last three elements: (3, 4, 5)
Second name: teja
Last name: ramani
Color subset: ('green', 'blue', 'yellow')
Second to last color: yellow
Every second color: ('red', 'blue', 'orange')

###BUILT-IN FUNCTIONS
####1. len(list/tuple):
Returns the number of elements in a list or tuple.
####2. sum(list/tuple):
Calculates the sum of all elements in a list or tuple.
####3. max(list/tuple):
Returns the maximum element in a list or tuple.
####4.min(list/tuple):
Returns the minimum element in a list or tuple.
####5. sorted(list/tuple):
Returns a new sorted list or tuple.

In [10]:
#len
animals_tuple = ("lion", "elephant", "zebra", "giraffe")
length = len(animals_tuple)
print("Number of animals:", length)

#sum
numbers_tuple = (10, 20, 30)
total_sum = sum(numbers_tuple)
print("Total sum of numbers:", total_sum)

#max
weights_tuple = (150, 300, 200, 250)
heaviest = max(weights_tuple)
print("Heaviest animal weight:", heaviest)

#min
ages_tuple = (5, 10, 3, 7)
youngest = min(ages_tuple)
print("Youngest animal age:", youngest)

#sorted
heights_tuple = (180, 160, 170, 190)
sorted_heights = sorted(heights_tuple)
print("Sorted heights:", sorted_heights)

Number of animals: 4
Total sum of numbers: 60
Heaviest animal weight: 300
Youngest animal age: 3
Sorted heights: [160, 170, 180, 190]