<a href="https://colab.research.google.com/github/navyagona/python-practice/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Dictionary
dictionary in Python as a real-life dictionary where you look up words to find their meanings. It's like having a table where you can quickly find information based on a unique identifier.

In [3]:
student_grades = {
    'navya': 'A',
    'teja': 'B',
    'nisha': 'C',
}

print("Grade of student with name navya:", student_grades['navya'])
print("Grade of student with name teja:", student_grades.get('teja'))

student_grades['teja'] = 'A'
print("Updated grade of student with name teja:", student_grades['teja'])

Grade of student with name navya: A
Grade of student with name teja: B
Updated grade of student with name teja: A

Dictionaries can represent complex data structures like objects or records in a database. They allow nesting of data, providing a structured way to organize information.

In [4]:
person = {
    'name': 'NAVYA',
    'age': 19,
    'city': 'ELURU'
}

print("Name:", person['name'])
print("Age:", person['age'])

Name: NAVYA
Age: 19

Configuration Files:
Configuration settings for applications can be stored in dictionaries, making it easy to access and modify various parameters.

In [5]:
game_config = {
    'difficulty': 'hard',
    'sound': True,
    'controls': {
        'movement': 'arrow keys',
        'action': 'spacebar'
    }
}

difficulty_level = game_config['difficulty']
sound_enabled = game_config['sound']
movement_controls = game_config['controls']['movement']

print("Difficulty Level:", difficulty_level)
print("Sound Enabled:", sound_enabled)
print("Movement Controls:", movement_controls)

Difficulty Level: hard
Sound Enabled: True
Movement Controls: arrow keys

Counting Occurrences:
Dictionaries are useful for counting the occurrences of elements in a collection, such as words in a sentence.

In [6]:
text = "hello world"
char_counts = {}

for char in text:
    if char in char_counts:
        char_counts[char] += 1
    else:
        char_counts[char] = 1

print(char_counts)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

Data Processing:
Dictionaries are valuable for data manipulation, filtering, and analysis tasks, such as filtering data based on conditions or grouping data.

In [7]:
products = [
    {'name': 'Laptop', 'sales': 150, 'category': 'Electronics'},
    {'name': 'Shoes', 'sales': 45, 'category': 'styling'},
    {'name': 'Smartphone', 'sales': 200, 'category': 'Electronics'},
    {'name': 'T-shirt', 'sales': 75, 'category': 'styling'}
]

high_sales_products = [product for product in products if product['sales'] > 50]
print("Products with sales more than 50:", high_sales_products)

products_by_category = {}
for product in products:
    category = product['category']
    if category in products_by_category:
        products_by_category[category].append(product)
    else:
        products_by_category[category] = [product]

print("Products grouped by category:", products_by_category)

Products with sales more than 50: [{'name': 'Laptop', 'sales': 150, 'category': 'Electronics'}, {'name': 'Smartphone', 'sales': 200, 'category': 'Electronics'}, {'name': 'T-shirt', 'sales': 75, 'category': 'styling'}]
Products grouped by category: {'Electronics': [{'name': 'Laptop', 'sales': 150, 'category': 'Electronics'}, {'name': 'Smartphone', 'sales': 200, 'category': 'Electronics'}], 'styling': [{'name': 'Shoes', 'sales': 45, 'category': 'styling'}, {'name': 'T-shirt', 'sales': 75, 'category': 'styling'}]}

keys():
Returns a view object containing the dictionary's keys.

In [8]:
student = {
    'name': 'Navya',
    'grade': 'A',
    'subject': 'Math'
}

keys = student.keys()
print(keys)

dict_keys(['name', 'grade', 'subject'])

values():
Returns a view object containing the dictionary's values.

In [9]:
student = {
    'name': 'teja',
    'grade': 'A',
    'subject': 'science'
}

values = student.values()
print(values)

dict_values(['teja', 'A', 'science'])

items():
Returns a view object that displays a list of all the key-value pairs in the dictionary.

In [10]:
student = {
    'name': 'ramani',
    'grade': 'A',
    'subject': 'sql'
}

items = student.items()
print(items)

dict_items([('name', 'ramani'), ('grade', 'A'), ('subject', 'sql')])

get:
Returns the value for the specified key if the key is in the dictionary. If the key is not found, it returns the default value provided as the second argument.

In [11]:
student = {
    'name': 'teja',
    'grade': 'B',
    'subject': 'Math'
}

print(student.get('name'))
print(student.get('age', 'Not specified'))

teja
Not specified

pop:
Removes the key-value pair from the dictionary and returns the value. If the key is not found, it returns the default value provided as the second argument.

In [12]:
vehicles = {'cars': 10, 'bikes': 5, 'cycles': 8}
removed_value = vehicles.pop('bikes')
print(removed_value)
print(vehicles)

5
{'cars': 10, 'cycles': 8}

clear():
Removes all the key-value pairs from the dictionary.

In [13]:
vehicles = {'cars': 10, 'bikes': 5, 'cycles': 8}
vehicles.clear()
print(vehicles)

{}

copy():
Returns a shallow copy of the dictionary.

In [14]:
vehicles = {'cars': 10, 'bikes': 5, 'cycles': 8}
new_vehicles = vehicles.copy()
print(new_vehicles)

{'cars': 10, 'bikes': 5, 'cycles': 8}

####Dictionary Comprehension

In [16]:
# creating dictionary from list
names = ["navya", "teja", "ramani"]

name_lengths = {name: len(name) for name in names}
print(name_lengths)



# Creating a dictionary from another dictionary
original = {'x': 10, 'y': 20, 'z': 30}

halved_values = {key: value / 2 for key, value in original.items()}
print(halved_values)


# Creating a dictionary with conditional logic
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

greater_than_five_negatives = {num: -num for num in numbers if num > 5}
print(greater_than_five_negatives)


#Creating a dictionary from two lists
countries = ['INDIA', 'NEPAL', 'Mexico']

capitals = ['DELHI', 'KATHMANDU', 'Mexico City']

country_capital = {country: capital for country, capital in zip(countries, capitals)}
print(country_capital)


#  Creating a dictionary from a range
import math
factorials = {num: math.factorial(num) for num in range(1, 6)}
print(factorials)


# Filtering and transforming dictionary
grades = {'NAVYA': 85, 'TEJA': 75, 'RAMANI': 95, 'DIVYA': 65}

passing_grades = {name: grade + 5 for name, grade in grades.items() if grade >= 70}
print(passing_grades)

{'navya': 5, 'teja': 4, 'ramani': 6}
{'x': 5.0, 'y': 10.0, 'z': 15.0}
{6: -6, 7: -7, 8: -8, 9: -9, 10: -10}
{'INDIA': 'DELHI', 'NEPAL': 'KATHMANDU', 'Mexico': 'Mexico City'}
{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}
{'NAVYA': 90, 'TEJA': 80, 'RAMANI': 100}


####Nested dictionary:

In [17]:
students = {
    'NAVYA': {
        'age': 19,
        'major': 'Computer Science',
        'GPA': 7.9
    },
    'TEJA': {
        'age': 18,
        'major': 'Engineering',
        'GPA': 7.5
    },
    'RAMANI': {
        'age': 19,
        'major': 'Biology',
        'GPA': 6.5
    }
}

print("TEJA's age:", students['TEJA']['age'])
print("NAVYA's major:", students['NAVYA']['major'])
print("RAMANI's GPA:", students['RAMANI']['GPA'])

TEJA's age: 18
NAVYA's major: Computer Science
RAMANI's GPA: 6.5

####use-cases and real world experiences

In [18]:
#counting occurences
numbers = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3]

number_counts = {}
for num in numbers:
    if num in number_counts:
        number_counts[num] += 1
    else:
        number_counts[num] = 1
print(number_counts)

{1: 3, 2: 3, 3: 3, 4: 2, 5: 2}

In [19]:
# data manipulation and filtering
data = [
    {'name': 'NAVYA', 'age': 19, 'city': 'VIZAG'},
    {'name': 'TEJA', 'age': 18, 'city': 'HYDERABAD'},
    {'name': 'RAMANI', 'age': 19, 'city': 'BANGLORE'}
]

filtered_data = [person for person in data if person['city'] == 'BANGLORE']
print(filtered_data)

[{'name': 'RAMANI', 'age': 19, 'city': 'BANGLORE'}]

In [20]:
#data manipulation
fruits = [
    {"name": "Apple", "color": "Red", "type": "Fruit"},
    {"name": "Banana", "color": "Yellow", "type": "Fruit"},
    {"name": "Carrot", "color": "Orange", "type": "Vegetable"},
    {"name": "Mango", "color": "Yellow", "type": "Fruit"}
]
grouped_data = {}
for fruit in fruits:
    color = fruit["color"]
    if color in grouped_data:
        grouped_data[color].append(fruit)
    else:
        grouped_data[color] = [fruit]

print(grouped_data)

{'Red': [{'name': 'Apple', 'color': 'Red', 'type': 'Fruit'}], 'Yellow': [{'name': 'Banana', 'color': 'Yellow', 'type': 'Fruit'}, {'name': 'Mango', 'color': 'Yellow', 'type': 'Fruit'}], 'Orange': [{'name': 'Carrot', 'color': 'Orange', 'type': 'Vegetable'}]}

In [21]:
# data filtering
students = [
    {"name": "NAVYA", "grade": 85},
    {"name": "TEJA", "grade": 70},
    {"name": "RAMANI", "grade": 90},
    {"name": "DIVYA", "grade": 65}
]
passing_students = [student for student in students if student["grade"] > 70]

print(passing_students)

[{'name': 'NAVYA', 'grade': 85}, {'name': 'RAMANI', 'grade': 90}]

In [22]:
# data analysis
employees = [
    {"name": "NAVYA", "salary": 60000, "city": "VIZAG"},
    {"name": "TEJA", "salary": 70000, "city": "BANGLORE"},
    {"name": "RAMANI", "salary": 80000, "city": "VIZAG"},
    {"name": "DIVYA", "salary": 75000, "city": "HYDERABAD"}
]

city_salaries = {}
for employee in employees:
    city = employee["city"]
    salary = employee["salary"]
    if city in city_salaries:
        city_salaries[city].append(salary)
    else:
        city_salaries[city] = [salary]

average_salaries = {city: sum(salaries) / len(salaries) for city, salaries in city_salaries.items()}

print(average_salaries)

{'VIZAG': 70000.0, 'BANGLORE': 70000.0, 'HYDERABAD': 75000.0}

In [23]:
# Storing unique elements
unique_words = set(["apple", "banana", "apple", "orange", "banana", "pear"])
print(unique_words)
# Checking membership efficiently
elements = set([1, 2, 3, 4, 5])
print(3 in elements)
print(6 in elements)
# Removing duplicate elements from a list of strings
duplicate_list = ["apple", "banana", "apple", "orange", "banana", "pear"]
unique_list = list(set(duplicate_list))
print(unique_list)

{'apple', 'orange', 'banana', 'pear'}
True
False
['apple', 'orange', 'banana', 'pear']